<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Xplr</title>
  </head>
  <body>
    <section id="react-main-mount"><%- reactHtml %></section>
    <script src="<%- clientSrc %>"></script>
  </body>
</html>
