.component-destination-home {
  .feed-entry-list {
    list-style-type: none;
    padding-left: 0;

    @img-height: 100px;

    li {
      clear: both;
      min-height: @img-height;
      margin-top: 10px;
    }

    img {
      height: @img-height;
      float: left;
      padding-right: 5px;
    }
  }
}
