.component-destination-home {
  .feed-entry-list {
    list-style-type: none;
    padding-left: 0;
    li {
      clear: both;
      min-height: 100px;
      margin-top: 10px;
    }
    img {
      height: 100px;
      float: left;
      padding-right: 5px;
    }
  }
}
